header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

.cta {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    transition: var(--transition);
    position: absolute;
    left: calc(50% - 11rem);
    bottom: 0;
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}

.header__socials::after {
    width: 1px;
    height: 2rem;
    content: "";
    background: var(--color-primary);
}

.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    font-weight: 300;
    font-size: 0.9rem;
    transform: rotate(90deg);
}


@media screen and (max-width:1024px) {
    header {
        height: 100vh;
    }


}

@media screen and (max-width:600px) {
    header {
        height: 100vh;

    }

    .header__socials,
    .scroll__down {
        display: none;
    }


}

@media screen and (max-width:400px) {
    header {
        height: 100vh;
        padding-top: 4rem;

    }

    .header__socials,
    .scroll__down {
        display: none;
    }

    .me {
        width: 12.5rem;
        height: 20rem;
        left: calc(50% - 6.25rem);
    }

    .btn {
        font-size: 0.8rem;
    }

}